header { top:0; background: white;}
footer { bottom: 0; background: white;}

section.content{ padding: 0 8em 0 8em; margin-top: 12em; margin-bottom: 12em; font-size: 0.9em; line-height: 1.5em; }

/* On screens that are 600px or less, set the background color to olive */
@media screen and ( max-width: 600px ) {
	header .localeLink.active{ color:#7b8fff;; font-weight: normal; }
	section.content{ padding: 0 1rem; font-size: 0.9rem; margin: 8rem 0; }
}

