:root{
	--primary: #7b8fff;
	--primaryLight: #cfd6ff;
	--light: #DEDEDE;
	--transShort: transform 0.1s;
}

div.locale 						  { display: none; }
div.locale.activeLocale	{ display: inline-block; }

* 						{ box-sizing: border-box; }
html, body 					{ font-family: sans-serif; font-weight: lighter; color: #454545;  width: 100vw; margin: 0; padding: 0; overflow-x: hidden; overflow-y: scroll;}

.reveal .controls 			{ z-index: 99999; }
.reveal .controls-arrow { color: var(--primary); }

.reveal .slides{
	width: 100vw;
}

.reveal > div.slides > section#main{ max-width: 1500px; margin: 0 auto;}

.reveal > div.slides > section#main > section { position: relative; display: flex; justify-content: center; flex-wrap: wrap; margin: 26rem auto; }

.reveal > div.slides > section#main > section:first-child { margin-top: 17rem;}

.reveal section > h1{ 
	position: absolute; 
	left: 50%;
	transform: translateX(-50%);
	top: -10rem; 
	color: var(--primary);
}

.reveal section > h1.anchor{ 
	top: -22rem;
	visibility: hidden;
	pointer-events: none;
	color: white;
}

/***************/
/*****SPANS*****/
/***************/

span.marked 	{ background: var(--primary); color: white; padding: .3em .4em .15em .3em; }

/***************/
/****BUTTONS****/
/***************/

button					{
									padding: 				1em 2em .8em 2em;
									border-radius: 	3em;
									outline: 				none; 
									font-weight: 		bold;
									margin-right: 	1em;
									border: 				2px solid var(--primary); 
									transition: 		var(--transShort);
								}
button.fill 		{ background: var(--primary); color: white; }
button.outline 	{ background: white; color: var(--primary); }
button:hover 		{ transform: scale(1.02); cursor: pointer; transition: var(--transShort);}

/**************/
/**INTRO LOGO**/
/**************/

section  								{  align-items: center;  }
section#welcome img.arsLogo 			{ height: 7em; opacity: 1; transition: opacity 500ms, height 500ms;}
section#welcome img.arsLogo.match 		{ height: 5em; opacity: 0; }

/**************/
/****HEADER****/
/**************/

header										{
														z-index: 				9999;
														position: 			fixed;
														top: 					0; 
														right: 					0;
														left: 					0; 
														transition: 		top 0.3s ease-out;
														display: 				flex;
														align-content: 	flex-start;
														align-items: 		center;
														padding: 				0.3em 3em 0.3em 3em;
														color: 					var(--primary);
														background-color: white;
											}
header nav.desktopNav 					{ width: 100%; }
header img.arsLogo 						{ height: 2.5em; }
header a 								{ color:  #7b8fff; padding: 0.6rem; white-space: nowrap;}
header ul 								{ display: flex; flex-direction: row; align-content: flex-start; width: 100%; }
header ul li 							{ display: flex;  list-style-type: none; padding: 0em 0.3em;  transition: var(--transShort); }
header ul li:hover 						{ transform: scale(1.03); cursor: pointer; color: var(--primary);}
header li.separator						{ padding: 0.6rem 0; }
header li.separator span				{ font-size: 0.6em; margin-top: 0em; }
header .headerLink.active > div			{ border-bottom: 2px solid var(--primary); font-weight: bold; }
header .headerLink#linkjobs 			{ background-color: var(--primary); color: white; border-radius: 5px; font-weight: bold; padding: 0.6rem 1rem; border-color: white; }
header .headerLink#linkjobs.active>div 	{ border-bottom: 2px solid white; }
header .localeLink						{ color: var(--light); font-size: 0.75em; }
header .localeLink.active 				{ color: var(--primary) }
header .localeLink:hover				{ color: var(--primary) !important; }

header #mobileNavBtn 		    		{ position: relative; z-index: 999999; display: none; margin-left: auto; background-image: url("../img/icons/menu.svg"); background-size: cover; width: 2em; height: 2em; cursor: pointer;}
header #mobileNavBtn.active 			{ color:  white; background-image: url("../img/icons/menu_white.svg"); }
header nav.mobileNav        			{ color:  white; display:  none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: var(--primary); padding:  1em; transform: translateX(-100%); transition: transform 300ms;}
header nav.mobileNav.active 			{ transform: translateX(0) }
header nav.mobileNav ul     			{ display: flex; width: 100%; height: 100%; flex-direction: column; }
header nav.mobileNav ul li  			{ list-style-type: none; padding: 1em 0; font-size: 2em; }
header nav.mobileNav a      			{ color:white; }

/**************/
/****FOOTER****/
/**************/

footer 										{
														z-index: 				9999;
														/* position: 			fixed; */
														right: 					0;
														left: 					0; 
														bottom: 				0; 
														display: 				flex;
														max-width: 			100%;
														align-content: 	flex-start;
														align-items: 		center;
														padding: 				2rem 1rem 1rem 1rem;
														color: 					var(--light);
														font-size: 			.75em;
														transition: 		bottom 0.3s ease-out;
													}
footer a 									{ color: inherit; text-decoration: none; }
footer > *									{ flex: 50%; flex-basis: 50%; }
footer div.footerRight  					{ display: flex; align-content: flex-end;}
footer div.footerRight ul 					{ justify-content: right; margin-left: auto; width: auto;}
footer img.footerLogo						{ height: 2em; opacity: .8; }
footer ul 									{ display: flex; flex-direction: row; align-content: flex-start; width: 100%; }
footer ul li 								{ display: flex;  list-style-type: none; padding: 0em 1em;  transition: var(--transShort); }
footer ul li:hover 							{ transform: scale(1.03); cursor: pointer; color: var(--primary);}



.contentWrapper, div.graphPhaseWrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 90%;
	margin:  0 auto;
	flex-wrap: wrap;
	grid-gap: 2.5rem;
}

.contentWrapper > *, div.graphPhaseWrapper > *{
	flex: 1 0 500px;
}


/***************/
/*****ABOUT*****/
/***************/

.projectDescription									{
																				/* flex: 				40%; */
																				text-align: 		left;
																				line-height: 		1.5em;
																				padding: 			0em 3.5rem;
																				font-size: 			.9em;
																				position: 			relative;
																			}

.slidercontainer .textSlides 				  		{ opacity: 0.01; display: none; }
.slidercontainer .textSlides.active	 				{ display: block; transition: opacity 400ms;}
.slidercontainer .textSlides div					{ width: 100% }
.slidercontainer .slideDots							{
																				display: 			flex;
																				flex-direction: 	row;
																				align-content: 		center;
																				justify-content: 	center;
																				width: 				100%;
																				margin-top: 		2em;
																			}
.slidercontainer .slideDots p 						{
																				display: 			inline-block;
																				width: 				1em;
																				height: 			1em;
																				border-radius: 		100%;
																				cursor: 			pointer;
																				background: 		grey;
																				padding: 			0.3em;
																				margin: 			0 0.3em;
																				opacity: 			0.5;
																				transition: 		opacity 400ms;
																			}
.slidercontainer .slideDots p.active				{ opacity: 1; transition: opacity 400ms;}

.screens 											{ perspective: 500px; }
.screen  											{
																				/* width: 				85%;
																				transform: 			translateX(5em);	 */
																				box-shadow: 		5px 10px 15px 0px rgba(0,0,0,0.12);
																			}
.screen img 										{ width: 100%; }

/***************/
/*****USECASES*****/
/***************/

.usecasesDescr									{
														/* flex: 				1 1 40%; */
														text-align: 		left;
														line-height: 		1.5em;
														padding: 			0em 1rem;
														font-size: 			1.52m;
														position: 			relative;
												}

/****************/
/**PLUSPUBLICATION**/
/****************/

.pluspublication      								{ text-align: left; padding: 1em; }
.pluspublication img, .pluspublication video 		{ width: 90%; margin-left: 50%; transform: translateX(-50%); }
.pluspublicationDescr 								{
																				/* flex:  				30%; */
																				text-align: 		left;
																				line-height: 		1.5em;
																				padding: 			0em 8em 0em 2em;
																				font-size: 			0.9em;
																			}

/****************/
/**ACTORCARD**/
/****************/

.actorcard      									{ text-align: left; padding: 1em; }
.actorcard img, .actorcard video 					{ width: 90%; margin-left: 50%; transform: translateX(-50%); }
.actorcardDescr 									{
																				/* flex:  				30%; */
																				text-align: 		left;
																				line-height: 		1.5em;
																				padding: 			0em 1em 0em 1em;
																				font-size: 			0.9em;
																			}

/****************/
/**PROTOTYPE**/
/****************/

.prototype      									{ text-align: left; padding: 1em; margin-top: auto; }
.prototype img, .prototype video 					{ width: 95%; margin-left: 50%; transform: translateX(-50%); }
.prototypeDescr 									{
																				/* flex:  				30%; */
																				text-align: 		left;
																				line-height: 		1.5em;
																				padding: 			0em 1em 0em 1em;
																				font-size: 			0.9em;
																			}

/***************/
/*****TEAM******/
/***************/

#phaseDescriptionWrapper 							{   display: flex; flex-direction: column; align-self: stretch;}
.teampartners, .phaseDescription 		  			{ 
																				background: 		white; 
																				padding:			0 0 0 2em; 
																				text-align: 		left; 
																				font-size: 			.9em;
																				line-height: 		1.5em;
																			}
.phaseDescription 									{ display:  none; color: var(--primary); margin:  auto 0 2em 0;}
.phaseDescription h3 								{ color: var(--primary); }
.phaseDescription.active  							{ display: block; }

#teamNetwork 										{ height: 75vh;}
*:focus{ border:none; outline: none; }

.profile  											{ display: none; align-items: center;}
.profile.active 									{ display: flex; flex-direction: row; }
.profile img 										{ border-radius: 100%; width: 8em;}
.profile img.logo 									{ border-radius: 0; }
.profile p 											{ margin: 0; padding:0 1em 0 1em; }
.profile a 											{ color: var(--primary); text-decoration: none; }
.profile a:visited  								{ color: var(--primary); }

.phases 											{ 
																				display: 			flex; 
																				flex-direction: 	row; 
																				width: 				80%; 
																				justify-content: 	space-between;
																				color: 				var(--primary); 
																				font-weight: 		bold;
																			}

h3.mobileHeadline									{ display: none; }

.vis-left, .vis-right, .vis-up, .vis-down, .vis-zoomOut, .vis-zoomIn{ display: none !important; }
.vis-zoomExtends{ background: url('../img/icons/zoom_extents.svg') !important; border-radius: 0 !important; transform: scale(0.6); transition: transform 100ms; left:  0; bottom:  0;}
.vis-zoomExtends:hover{ box-shadow: none !important; transform: scale(0.7);}


/*****************/
/**PHASES SLIDER**/
/*****************/

input#timeSlider[type="range"]			{ width: 80%;  --webkit-appearance: none; }
input#timeSlider[type="range"]:focus 	{ outline: none; }
/**TRACK**/
input#timeSlider[type="range"]::-webkit-slider-runnable-track 
							{ 
								background: var(--primaryLight); height: 5px; 
								cursor: pointer;
							}
input#timeSlider[type="range"]::-moz-range-track 							
							{ 
								background: var(--primaryLight); height: 5px;
								cursor: pointer; 
							}

/**THUMB**/
input#timeSlider[type=range]::-webkit-slider-thumb /*chromium styling of input range thumbs is a mess*/
							{ 
								transform: 					translateY(-0.25rem);
								cursor: 					ew-resize;
							}

input#timeSlider[type=range]::-moz-range-thumb 							
							{
								height: 						30px;
								width: 							30px;
								background-color: 				transparent;
								background-image: 				url('../img/slider.svg');
								background-size: 				contain;
								transform: 						translateY(-16px);
								outline: 						none; 		
								border: 						none;
								cursor: 						ew-resize;
							}
input#timeSlider[type=range]::-ms-thumb 
							{
								height: 						30px;
								width: 							30px;
								background-color: 				transparent;
								background-image: 				url('../img/slider.svg');
								background-size: 				contain;
								transform: 						translateY(-16px);
								outline: 						none; 		
								border: 						none;
								cursor: 						ew-resize;
							}

/***************/
/****CONTACT****/
/***************/

section#contact{ align-content: center; padding: 1em; align-items: stretch;  }

.getInTouch 										{ flex: 10%; text-align: left; font-size: .9em; line-height: 1.5em; }
.getInTouch a 										{color: var(--primary); text-decoration: none;}
.getInTouch ul.contactList 							{ padding:1em 0; }
.getInTouch ul.contactList li 						{ list-style-type: none; }
.getInTouchImage 									{ flex: 50%; position: relative;}
.contactIcon 										{ height: 1.2em; margin-right: 0.75em; transform: translateY(.28em);}
.stackImage 										{ 
														max-width: 50%; 
														box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.12); 
														position: absolute; 
														top: 0%; left: 20%;
													}

/***************/
/****JOBS****/
/***************/
section#jobs{
	text-align: left;
	display: flex;
	justify-content: space-around;
}

section#jobs > div {
	max-width: 800px;
	line-height: 1.5rem;
}

section#jobs a{
	color: var(--primary);
}

/*****************/
/**MEDIA QUERIES**/
/*****************/

@media screen and (max-width: 1200px) {
	header{ font-size: 0.85rem; }
}

@media screen and (max-width: 992px) {

	/* body{ font-size: .85em; } */

	header li.locale{ display: flex; align-items: center;  }
	header .localeLink.active{ color:white; font-weight: bold; }
	span.seperator{ margin: 0 1rem; }

	section#welcome img.arsLogo 			{ height: 3.5em; }
	section#welcome img.arsLogo.match { height: 2.5em; }


	.contentWrapper > *, div.graphPhaseWrapper > *{
		flex: 1 0 300px;
	}

	/* .contentWrapper{
		max-height: 100vh; 
		overflow-y: scroll; 
		overflow-x: hidden;
		width: 100%;
		padding: 5em 1em 0 1em;
		display: flex;
		flex-direction: column;
	} */

	header{	padding: 1.5em 2em;}
	header nav.desktopNav{ display:  none; }
	header #mobileNavBtn{ display: block; }
	header nav.mobileNav{ display:  block; padding-top: 1rem; overflow-y: scroll; }

	footer nav{ display: none; }

	/* .projectDescription	{ flex:  100%; padding: 0em 1em 0em 1em;} */

	.slidercontainer .slideDots { margin-top:  1.25em;}
	.slidercontainer .slideDots p { width: 1em; height: 1em; padding: 0.6em; margin: 0 0.5em; }
	/* section#about{ justify-content: center; } */
	/* .screens { flex: 0 1 80%; }
	.screen { margin-top: 5em; transform: translateX(0em); margin-left: auto; margin-right: auto; } */

	/* .usecasesDescr {
		font-size: 			1em;
		padding: 			0em 10% 10em 10%;
	} */

	/* .pluspublication{ padding: 0; flex: 100%; }
	.pluspublication img{ width: 70%; }
	.pluspublicationDescr{ padding: 0 1em 0 1em; }

	.actorcard{ padding: 0; flex: 100%; }
	.actorcard img{ width: 70%; }
	.actorcardDescr{ padding: 0 1em 0 1em; }

	.prototype{ padding: 0 0 4em 0; flex: 100%; }
	.prototype img, .prototype video{ width: 90%; }
	.prototypeDescr{ padding: 0 1em 0 1em; } */

	#teamNetwork, .phaseDescription.active, #teamSlider, .slider, .phases, #profileInfo{ display: none; }
	.profile{display: flex; margin-bottom: 2em;}
	.profile img{ display: inline-block; max-width: 4rem; margin-right: 0.5rem;}
	.profile p{ display: inline-block; }

	/* .teampartners{ max-height: 70vh; overflow-y: scroll; padding: 0; } */
	/* h3.mobileHeadline{ display: block; } */

	section#contact, section#jobs{ padding: 1em;}
	.getInTouchImage{ display: none; }
	ul.contactList{ font-size: 0.9rem; }


}



