:root{
	--primary: #7087e5; /*original lighter variant:  #7b90ff*/
}

body{
	font-family: Inter;
	font-weight: 300;
	letter-spacing: .025em;
	word-spacing: .1em;
	line-height: 1.5em;
	/*background: #fbfafa;*/
}

#corporate{ color: var(--primary); position: fixed; bottom: .5em; left: .5em; font-weight: 500; z-index: 999999;}
.controls{ transform: scale(0.5);}
.controls-arrow{ color: var(--primary); }

.text-left{ text-align: left; }
.flex-col{ flex-direction: column;}
.align-center{ align-items: center; text-align: center; justify-content: center; }

/*  HEADINGS  */
h1,h2,h3,h4,h5,h6{ word-spacing: .15em; font-weight: 700; color: var(--primary);}
h2{ font-size: 2em; line-height: 1.15em; margin-bottom: 0.5rem;}
h3{  margin-top:0; margin-bottom: 1.5rem; }
b{ font-weight: 450; }
p{ line-height: 1.35em; font-size: 0.9rem;}

section { display: flex;}
/*.reveal .slide-background{ background: #fbfafa; }*/
section .leftCol  { flex: 1 1 50%; width:  50%; }
section .rightCol { flex: 1 1 50%; width:  30%; height: 100%; display: flex; align-items: center; flex-direction: column; margin-top: auto; }
section img.screen{ 
	max-width: 100%; 
	/*transform-style: preserve-3d;*/
	/*transform: rotateY(-10deg) translateY(-1em);	*/
	box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.12);
}

blockquote { line-height: 1.5em; text-align: left; border-left: 4px solid black; padding: .5em 0 .5em 1.5em; font-style: italic; font-weight: 100; font-family: monospace; display: inline-block;}
/*blockquote.opaque { background: rgba(0,0,0,0.2);  }*/
blockquote referral { margin-top: 1em; display: block; font-size: .7em; font-style: normal; color: var(--primary); font-family: Inter;}

.r-stack img{ max-height: 60vh; max-width: 50%; position: absolute; left: 50%; top:40vh; transform: translate(-50%, -70%); }


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Thin.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Light.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-LightItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Italic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Medium.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-SemiBold.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-Black.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-3.19/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
       url("../fonts/inter-3.19/Inter-BlackItalic.woff?v=3.19") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/inter-3.19/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/inter-3.19/Inter-italic.var.woff2?v=3.19") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/inter-3.19/Inter.var.woff2?v=3.19") format("woff2");
}


